
<%var due = todo.get('deadline')%>

<form
	class="form-inline toggle-show"
	role="form"
	<%if (todo.id) {%>
		data-id="<%=todo.id%>"
	<%}%>
>

	<%if (todo.id) { %>
		<input
			type="hidden"
			name="todo_list_item[id]"
			value="<%=todo.get('id')%>"
		>
	<%}%>
	<button class="btn btn-xs btn-sherpa" id="cancel" data-id="<%=todo.escape('id')%>">X</button>
	<input
		class="input-sm subtle-form-input"
		type="text"
		name="todo_list_item[name]"
		id="todo_list_name"
		placeholder="To-do name"
		value="<%=todo.get('name')%>"
		style="width: 300px;"
	>
	<select
		name="todo_list_item[assigned_user_id]"
		id="assign_user"
	>
		<option value="" disabled selected>Assign this task</option>
		<%members.forEach(function(member){ %>
			<option
				value="<%=member.escape('id')%>"
				<%var assigned = todo.assignedUser()%>
				<%=(assigned && assigned.id === member.id) ? "selected" : ''%>
		>
				<%=member.escape('name')%>
			</option>
		<% }) %>
	</select>
	<input
		type="date"
		id="due-date"
		name="todo_list_item[deadline]"
		class="input-sm subtle-form-input"
	>

	<input
		type="hidden"
		name="todo_list_item[todo_list_id]"
		value="<%=todo.get('todo_list_id')%>"
	>

	<input
		id="create-update"
		class="btn btn-xs btn-sherpa"
		type="submit"
		value="<%=(todo.id) ? 'Update Todo' : 'Add Todo'%>"
	>

	<button class="btn-xs btn-sherpa" id="delete" data-id="<%=todo.id%>">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
</form>
