<%var due = todo.escape('deadline')%>
	<button class="btn btn-xs btn-sherpa" name="todo_list_item[completed]" value="true" id="check-off" data-id="<%=todo.get('id')%>">
		<span class="glyphicon glyphicon-check"></span>
	</button>
	<span class="toggle-edit" data-id="<%=todo.get('id')%>">
	<span>
				<%=(todo.get('name')) ? todo.escape('name') : 'Give the todo a name'%>
	</span>
	<span style="font-size: 10px; padding-left: 10px; display: inline-block;">
	<span id="assign_user" ><%=(assigned) ? 'assigned to ' + assigned.escape('name') : "Unassigned"%></span>
	<span id="due-date"><%=(due) ? 'due ' + moment(due).format('dddd MMMM D') : "No deadline"%></span>
	</span>

