<!DOCTYPE html>
<html>
<!-- head -->
<head>
  <title></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<%[*flash[:errors]].each do |error| %>
	<li><%= error %></li>
<%end%>

<!-- nav -->
<% if logged_in?%>


<nav
	class="sherpaNav navbar"
	role="navigation"
>
<div class="navbar-header">
	<div class="">
		<a class="sherpaBrand" href="#"
			class="navbar-brand dropdown-toggle"
			data-toggle="dropdown">
			Sherpa
		</a>
    <ul class="nav navbar-nav pull-left">
			<%if logged_in?%>
				<li><a href="#">Projects</a></li>
				<li><a href="#calendar">Calendar</a></li>
				<li><a href="#feed">Feed</a></li>
				<li><%=link_to("Logout", session_url, :method => :delete)%></li>
			<%else%>
				<li><a href="<%= new_session_url %>">Login</a></li>
				<li><a href="<%= new_user_url %>">Register</a></li>
			<%end%>
    </ul>
	</div>
</div>
		<ul class="nav navbar-nav pull-right">
			<li><a href="#">
				<%=current_user.name%> (<%=current_user.company.name%>)
			</a></li>
		</ul>


</nav>
<%end%>

<!-- body -->
<body style="background-image:url('assets/bedge_grunge.png');">

	<!-- container -->
<div class="sherpaBasic container" style="width: 80%; height: auto; min-height: 500px" >
	<%= yield %>
</div>



</body>
</html>
