<!DOCTYPE html>
<html>
<!-- head -->
<head>
  <title></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<%[*flash[:errors]].each do |error| %>
	<li><%= error %></li>
<%end%>

<!-- nav -->
<% if logged_in?%>


<nav
	class="sherpaNav navbar navbar-fixed"
	role="navigation"
	style="background: #6dc9ff;"
>
<div class="navbar-header">
	<div class="">
		<a href="#"
			class="sherpa-brand navbar-brand dropdown-toggle"
			data-toggle="dropdown">
			Projectsherpa
		</a>
    <ul class="nav navbar-nav pull-left">
			<%if logged_in?%>
				<li><a class="sherp-links" href="#">Projects</a></li>
				<li><a class="sherp-links" href="#calendar">Calendar</a></li>
				<li><a class="sherp-links" href="#feed">Feed</a></li>
				<li ><%=link_to("Logout", session_url, :method => :delete, :class=>"sherp-links")%></li>
			<%else%>
				<li><a class="sherp-links" href="<%= new_session_url %>">Login</a></li>
				<li><a class="sherp-links" href="<%= new_user_url %>">Register</a></li>
			<%end%>
    </ul>
	</div>
</div>
		<ul class="nav navbar-nav pull-right">
			<li><a class="sherp-links" href="#">
				<%=current_user.name%> (<%=current_user.company.name%>)
			</a></li>
		</ul>


</nav>
<%end%>

<!-- body -->
<%if logged_in?%>
	<body
		style="background-image:url('assets/bedge_grunge.png');"
	>

	<!-- container -->
	<div class="sherpaBasic container" style="width: 80%; height: auto; min-height: 500px" >
		<%= yield %>
	</div>
</body>
<%else%>

	<%=yield%>

<%end%>
</html>

<script>
	<%if logged_in?%>
		var CURRENT_USER = <%=current_user.id%>;
	<% else %>
		var CURRENT_USER = null
	<% end %>
</script>